.report-main {
    padding: 30px;
    position: relative;
}
.top-head {
    position: relative;
}
.export-btndiv a.export-btn {
    border: 2px solid #1AB001;
    padding: 11px 25px;
    font-size: 14px;
    font-weight: 500;
    color: #444A4A !important;
    border-radius: 5px;
}
span.top-span {
    color: #373737;
    font-weight: 500;
}
.export-btndiv {
    position: absolute;
    right: 30px;
    top: 72px;
}
h3.top-h3 {
    font-size: 14px;
    color: #8E8E93;
    font-weight: 500;
}
h4.top-h4 {
    font-size: 28px;
    font-weight: 400 !important;
    color: #444A4A !important;
    margin-bottom: 30px;
}
.din-sec {
    background-color: #1AB001;
    padding: 15px 20px 10px 20px;
    border-radius: 10px 10px 0 0;
}
.din-sec h3 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    line-height: 30px;
}
.din-sec h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.din-wrap {
    padding: 15px 15px 15px 15px;
    display: table;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 4px 8px 0 #e6e6e6;
}
span.bo-span {
    display: block;
    color: #373737;
    font-size: 14px;
    font-weight: 500;
}
.din-inner {
    display: table;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.din-inner:after {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    bottom: -14px;
    right: 0;
    left: -14px;
    width: 379px;
    height: 1px;
}
.din-inner.din-inner-new:after {
    width: 0px;
}
.din-in1 {
    display: table-cell;
    position: relative;
}
.din-in2 {
    display: table-cell;
    position: relative;
}
.din-in {
    display: table-cell;
}
.din-in1:before {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    top: 5px;
    right: 0;
    left: -20px;
    width: 1px;
    height: 42px;
}
span.bo-num {
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A !important;
}
.din-in2:before {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    top: 5px;
    right: 0;
    left: -20px;
    width: 1px;
    height: 42px;
}
.din-sec.din-sec3 {
    background-color: #23A476;
}
.din-sec.din-sec2 {
    background-color: #239FA4;
}
.btn-secondary {
    color: #444A4A;
    background-color: #fff;
    border-color: #E2E2E2;
    border-radius: 18px;
}
.drop-down-sec {
    display: table;
    width: 100%;
}
.dropdown {
    padding: 20px 20px 20px 0;
    text-align: right;
    display: table-cell;
    width: 100%;
}
.dropdown a#dropdownMenuLink {
    color: #444A4A;
    font-size: 14px;
    font-weight: 500;
}
.top-div {
    margin-top: 30px;
}
span.bo-num.bo-num-new {
    font-size: 30px !important;
}
span.deals-span-new {
    display: table-row;
    color: #262632;
    font-size: 14px;
    font-weight: 500;
}
span.bo-span.bo-span-gray {
    color: #4A4A4A !important;
    margin-top: 20px;
}
span.bo-num.bo-num-color- {
    color: #3C9D39 !important;
    font-size: 30px !important;
}
.tab-content {
    padding: 40px;
    margin-top: 8%;
}
.breadcrumb {
    background-color: unset;
    padding: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: black;
    font-weight: bold;
    font-family: 'Gordita';
}
.dashboard1 {
    font-family: 'Gordita';
}
.breadcrumb span {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Gordita';
}
#chart {
    max-width: 650px;
    margin: 35px auto;
}
.total-downloads {
    width: 70%;
}
.download-number {
    font-size: 30px;
    font-family: 'Gordita';
    font-weight: 700;
}
.download-title {
    font-family: 'Gordita';
    font-size: 14px;
    font-weight: bold;
}
.downlods-data {
    background: #373737;
    color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5%;
}
.new-user-title {
    font-size: 11px;
    font-family: 'Gordita';
}
.download-number {
    font-size: 18px;
    font-family: 'Gordita';
    font-weight: 700;
}
.downlods-card-title {
    font-size: 14px;
    color: #373737;
    font-family: 'Gordita';
}
.user-type-1 {
    width: 50%;
    border-right: 3px solid #ebebeb;
}
.usage-title {
    color: #373737;
    font-size: 14px;
    font-family: 'Gordita';
}
.usage-number {
    font-size: 20px;
    font-weight: 700;
    color: #0B9ABA;
}
.usage-desc {
    font-size: 12px;
    font-family: 'Gordita';
    font-weight: 500;
}
.user-type-2 .usage-number {
    color: #B74C1E;
}
.choose-options .option {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 14px;
    font-family: Gordita;
    color: #444A4A;
    font-weight: 500;
    border-color: #E2E2E2;
    background-color: unset;
    border-top: unset;
    border: unset;
}
.border-none-class {
    background: unset;
    border-bottom: unset;
}
.border-none-class .graph-title {
    width: 50%;
    font-size: 14px;
    font-family: 'Gordita';
}
.choose-options {
    position: absolute;
    right: 0;
    margin-right: 3%;
}
#panel-body .progress {
    height: 0.7rem;
}
.user-type-2 {
    margin-left: .5rem !important;
}
.color-red.usage-number {
    color: #C14E48 !important;
}
.color-black.usage-number {
    color: #4A4A4A !important;
}
.color-green.usage-number {
    color: #3C9D39 !important;
}
.option-filters {
    width: 100%;
    height: auto;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-family: Gordita;
    color: #444A4A;
    font-weight: 500;
    border-color: #E2E2E2;
    background-color: #FFFFFF;
}
.col-sm-6.col-md-3.single-filter {
    display: flex;
}
.filter-title {
    width: 50%;
}
.filter-field {
    width: 50%;
}
.filter-field.full-width {
    width: 100%;
}
.usage-number.color-orange {
    color: #F99B33 !important;
}
.deal-type-restaurents-stats .usage-title {
    font-size: 12px;
}

.sales-stats{
    font-family: 'Gordita';

}

.card-green{
background: #1AB001;
color: #E6E6E6;
}
.card-blue{
background: #239FA4;
color: #E6E6E6;
}

.card-green-2{
background: #23A476;
color: #E6E6E6;
}

.break-hr{
    width: 81%;
}

.break-hr hr {
    width: 100%;
    margin-top: 3%;
    margin-left: 1%;
    border-top: dashed 2px;
}





.sales-stats .tab-card-header {
  background:none;
}
.sales-stats .tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}

.sales-stats .tab-card-header > .nav-tabs > li > a {
    border: 0;
    border-bottom:2px solid transparent;
    margin-right: 0;
    color: #737373;
    padding: 2px 7px;
}

.sales-stats .tab-card-header > .nav-tabs > li > a.show {
    border-bottom: 2px solid #1AB001;
    color: #1AB001;
}

.sales-stats .tab-card-header > .tab-content {
  padding-bottom: 0;
}

.graph-head{
    font-size: 14px;
    font-weight: 500;
}
.graph-number {
    font-weight: 700;
}