.report-main {
    padding: 30px;
    position: relative;
}
.top-head {
   position: relative;
}

.export-btndiv a.export-btn {border: 2px solid #1AB001;padding: 11px 25px;font-size: 14px;font-weight: 500;color: #444A4A !important;border-radius: 5px;}
span.top-span {
    color: #373737;
    font-weight: 500;
}
.export-btndiv {
    position: absolute;
    right: 30px;
    top: 72px;
}
h3.top-h3 {
    font-size: 14px;
    color: #8E8E93;
    font-weight: 500;
}
h4.top-h4 {
    font-size: 28px;
    font-weight: 400 !important;
    color: #444A4A !important;
    margin-bottom: 30px;
}
.din-sec {
    background-color: #1AB001;
    padding: 15px 20px 10px 20px;
    border-radius: 10px 10px 0 0;
}

.din-sec h3 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    line-height: 30px;
}

.din-sec h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.din-wrap {
    padding: 15px 15px 15px 15px;
    display: table;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 4px 8px 0 #e6e6e6;
}
span.bo-span {
    display: block;
    color: #373737;
    font-size: 14px;
    font-weight: 500;
}

.din-inner {
    display: table;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.din-inner:after {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    bottom: -14px;
    right: 0;
    left: -14px;
    width: 379px;
    height: 1px;
}
.din-inner.din-inner-new:after {
    width: 0px; 
}
.din-in1 {
    display: table-cell;
    position: relative;
}

.din-in2 {
    display: table-cell;
    position: relative;
}

.din-in {
    display: table-cell;
}

.din-in1:before {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    top: 5px;
    right: 0;
    left: -20px;
    width: 1px;
    height: 42px;
}

span.bo-num {
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A !important;
}

.din-in2:before {
    content: '';
    background-color: #E2E2E2;
    position: absolute;
    top: 5px;
    right: 0;
    left: -20px;
    width: 1px;
    height: 42px;
}
.din-sec.din-sec3 {
    background-color: #23A476;
}

.din-sec.din-sec2 {
    background-color: #239FA4;
}
.btn-secondary {
    color: #444A4A;
    background-color: #fff;
    border-color: #E2E2E2;
    border-radius: 18px;
}
.drop-down-sec {
    display: table;
    width: 100%;
}

.dropdown {
    padding: 20px 20px 20px 0;
    text-align: right;
    display: table-cell;
    width: 100%;

}
.dropdown a#dropdownMenuLink {
    color: #444A4A;
    font-size: 14px;
    font-weight: 500;
}
.top-div {
    margin-top: 30px;
}
span.bo-num.bo-num-new {
    font-size: 30px !important;
}
span.deals-span-new {
    display: table-row;
    color: #262632;
    font-size: 14px;
    font-weight: 500;
}
span.bo-span.bo-span-gray {color: #4A4A4A !important;margin-top: 20px;}

span.bo-num.bo-num-color- {
    color: #3C9D39 !important;
    font-size: 30px !important;
}