div#DataTables_Table_0_filter {
    display: none;
}
/* deal style start here */
.deal{
    padding-top:40px ;
    }
    .deals h2{
    width: 169px;
    height: 28px;
    font-family: Gordita;
    font-weight: 400;
    font-size: 28px;
    color: #444A4A;
    margin-left: 25px;
    }
    .deal_module{
    padding-top: 20px;
    padding-left: 20px;
    }
    .deal_module h4{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-family: Gordita;
    font-weight: 500;
    color: #4A4A4A;
    }
    .deal_module tr ,th{
    border: solid 2px #F7F7F7;
    background-color:#F7F7F7;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #444A4A;
    text-align: center !important;
    font-family: Gordita;
    padding-left: 40px;
    margin-top: 20px;
    width: 1125px;
      height: 60px;
    
    }
    
    .deal_module td{
    
    background-color:#FFFFFF;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #444A4A;
    text-align: center;
    font-family: Gordita;
    padding-left: 40px;
    margin-top: 20px;
    width: 26px;
      height: 14px;
    
      border-block: solid 2px #E2E2E2;
    
    }
    .deal_module{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 40px;
    }
    .app th,td{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: Gordita;
    color: #444A4A;
    padding-bottom: 10px;
    }
    .app{
    border: 2px solid #e2e2e2;
        border-radius:10px;
        padding: 10px;
        box-shadow: 1px 3px #E2E2E2;
    }
    /* .Overveiw{
    border: 2px solid #e2e2e2;
        border-radius:10px;
        padding: 10px;
        box-shadow: 1px 3px #E2E2E2;
    } */
    .status h4{
    margin-left: 10px;
    padding-bottom: 10px;
    }
    .creation{
    padding-top: 40px;   
     padding-left: 20px;
     padding-bottom: 40px;
    }
    .creation h4{
    font-size: 18px;
     color: #444A4A;
     font-weight: 500;
     padding-bottom: 10px;
     font-family: Gordita;
     padding-top: 20px;
    }
    
    .category label{
    font-size: 14px;
    font-family: Gordita;
    font-weight: 500;
    color: #444A4A;
    }
    .form-select {
      background-color: #449B44;
      padding:10px;
      border-radius:8px;
      color: #FFFFFF;
    }
    .deal_module h4{
      padding-bottom: 0px;
      padding-top: 20px;
      font-size: 16px;
      font-family: Gordita;
      font-weight: 500;
      color: #4A4A4A;
  }
  canvas#canvas {
    width: 220px !important;
    height: 220px !important;
}
   