<section class="tickets">
    <div style="margin-bottom: 20px;margin-left: 20px;"class="d-flex justify-content-between">
        <div class="ticket1">
        <h2>Tickets</h2>
    </div>
   
    <div class="add">
      <button type="button"  data-toggle="modal" data-target="#exampleModalCenter"class="btn-btn-success">Add new</button>
    </div>
    </div>
    <table datatable>
        <thead>
            <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Est. ID</th>
                <th scope="col">Est. Location</th>
                <th scope="col">City</th>
                <th scope="col">Issue</th>
                <th scope="col">Open Date & Time</th>
                <th scope="col">Raised by</th>
                <th scope="col">Status</th>
              
                

            </tr>
        </thead>
        <tbody>
          <tr>
            <td>ASF134</td>
            <td>ASF134</td>
            <td>City mall</td>
            <td>San Antonio</td>
            <td>Lorem ipsum dolor si</td>
            <td>Today, 12:20</td>
            <td>Lettie Watkins</td>
            <td>
              
              <select class="form-select" aria-label="Default select example">
              <option selected>Status</option>
              <option value="1">Open</option>
              <option value="2">Pending</option>
              <option value="2">Closed</option>
              
            </select></td>
            
            
          </tr>
          <tr>
            <td>SDG314</td>
            <td>SDG314</td>
            <td>Subway</td>
            <td>San Jose</td>
            <td>Houston</td>
            <td>Yesterday, 15:21</td>
            <td>Myra Wallace</td>
            <td>
              
              <select class="form-select" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">Open</option>
                <option value="2">Pending</option>
                <option value="2">Closed</option>
                
              </select></td>
              
            
          </tr>
          <tr>
            <td>SDF233</td>
            <td>SDF233</td>
            <td>Beach side</td>
            <td>Houston</td>
            <td>Lorem ipsum dolor si</td>
            <td>10/08/2020-2:20</td>
            <td>Ian Leonard</td>
            <td>
              
              <select class="form-select" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">Open</option>
                <option value="2">Pending</option>
                <option value="2">Closed</option>
                
              </select></td>
             
            
          </tr>
          <tr>
            <td>FSD21D</td>
            <td>FSD21D </td>
            <td>Rectangle 11</td>
            <td>San Antonio</td>
            <td>Lorem ipsum dolor si</td>
            <td>10/08/2020-2:20</td>
            <td>Luis Gonzales</td>
            <td>
              
              <select class="form-select" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">Open</option>
                <option value="2">Pending</option>
                <option value="2">Closed</option>
                
              </select></td>
            
            
          </tr>
          <tr>
            <td>S21DFS</td>
            <td>S21DFS </td>
            <td>Modern Mall</td>
            <td>New York</td>
            <td>Lorem ipsum dolor si </td>
            <td>10/08/2020-2:20</td>
            <td>Henrietta Sanchez</td>
            <td>
              
              <select class="form-select" aria-label="Default select example">
                <option selected>Status</option>
                <option value="1">Open</option>
                <option value="2">Pending</option>
                <option value="2">Closed</option>
                
              </select></td>
            
            
          </tr>
          
        </tbody>
      </table>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">New Ticket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label>
               Subject
              </label>
              <input type="text" id="subject" class="form-control" placeholder="Issue with payment">
              <label for="description">Issue Description</label>

              <textarea id="description" name="description" rows="4" cols="50">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod congue. ,Ssit amet, consectetur adipiscing elit. Sed fringilla massa scelerisque mauris euismod congue.
              </textarea>
              <label>Attachments</label>
              <textarea id="description" name="drag" rows="4" cols="50" placeholder="Drag and Drop">
               </textarea>
               <div class="issue">
               <a href="#" download rel="noopener noreferrer" target="_blank">
                <i class="fa fa-file-text mr-2" aria-hidden="true"></i>Issue Summary
             </a>
            </div>
            <div class="slip">
             <a href="#" download rel="noopener noreferrer" target="_blank">
              <i class="fa fa-file-text mr-2" aria-hidden="true"></i>Payment Slip
           </a></div>
             </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Submit</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    

