<section class="backend">
    <div style="margin-bottom: 20px;margin-left: 20px;"class="d-flex justify-content-between">
        <div class="backend1">
        <h2>Backend Users</h2>
    </div>
   
    <div class="add">
      <button type="button"  data-toggle="modal" data-target="#exampleModalCenter"class="btn-btn-success">Add new</button>
    </div>
    </div>
    <table datatable>
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Title</th>
                <th scope="col">Permissions</th>
              
                
  
            </tr><br/>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Warren</td>
                <td>Wilkerson</td>
                <td>wilkerson@email.com</td>
                <td>Senior Manager</td>
               <td><button class="veiw">Veiw</button></td>
             
                
                
              </tr><br/>
              <tr>
                <td>2</td>
                <td>Cameron</td>
                <td>Dawson</td>
                <td>dawson@email.com</td>
                <td>Sales Manager</td>
                <td><button class="veiw">Veiw</button></td>
              </tr><br/>
              <tr>
                <td>3</td>
                <td>Manuel</td>
                <td>Leonard</td>
                <td>leonard@email.com</td>
                <td>Supervisor</td>
                <td><button class="veiw">Veiw</button></td>
              </tr><br/>
          
        </tbody>
      </table>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                       
                            <label>First Name</label><br/>
                            <input type="text" name="first" id="first" placeholder="Enter First Name"><br/>
                            <label>Email</label><br/>
                            <input type="email" name="email" id="email" placeholder="Enter Enter Id"><br/>
                            <label>Department</label><br/><hr/>
                            <input type="text" name="dept" id="dept" placeholder="Enter Department"><br/>
                        
                    </div>
                    <div class="col-md-6">
                       
                        <label>Last Name</label><br/>
                        <input type="text" name="last" id="last" placeholder="Enter Last Name"><br/>
                        <label>Designation</label><br/>
                        <input type="text" name="desg" id="desg" placeholder="Enter Designation"><br/>
                        <label>Title</label><br/><hr/>
                        <input type="text" name="title" id="title" placeholder="Enter Title"><br/>
                    
                </div>
                </div>
                <label>Permissions</label>
                <form>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Super Admin
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Category mgmt.
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Add Category
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Select All
                      </label>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Add</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  